@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: var(--background);
}

.light {
    --foreground: #0F0F0F;
    --background: #000000;
    --primary: #1E1E1F;
    --secondary: #191f22;
    --highlight: #ffdb70;
    --greyish: #2B2B2C;
}


.dark {
    --background: #000000;
    --foreground: #d6d6d6;
    --primary: #1E1E1F;
    --secondary: #191f22;
    --highlight: #ffdb70;
    --greyish: #2B2B2C;
}
